@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
h1{
     font-family: 'Noto Serif', serif;
     font-weight: 700;
     color:#fff;

}
header {
  background: #33B5E5;
  padding: 1px;
  display: flex;
  justify-content:space-evenly;
 
}
  